<div class="wrap">
    <!-- slider mobile & ipad -->
    <div class="mobile ipad">
      <div><img src="{{ file_root_path }}/img/banners/sp_top_slide_{% if cookies['gender'] == 'women' %}women{% else %}men{% endif %}.png" alt="" class="img-max"></div>
    </div>
    <!-- slider mobile & ipad -->
    <!-- slider pc -->
    <div class="pc">
      <div class="center-item">
        <div><img src="{{ file_root_path }}/img/banners/top_slide_1_{% if cookies['gender'] == 'women' %}women{% else %}men{% endif %}.png" alt="" class="img-max"></div>
        <div><img src="{{ file_root_path }}/img/banners/top_slide_2_{% if cookies['gender'] == 'women' %}women{% else %}men{% endif %}.png" alt="" class="img-max"></div>
        <div><img src="{{ file_root_path }}/img/banners/top_slide_3_{% if cookies['gender'] == 'women' %}women{% else %}men{% endif %}.png" alt="" class="img-max"></div>
      </div>
    </div>
    <!-- slider pc -->
    <!-- special -->
    <section class="thim-img special">
      <div class="inner-float overflow">
        <div class="col-eq-2">
          <div class="special-layout-box">
            <div class="col-eq-2-special">
              <a href=""><img src="{{ file_root_path }}/img/top/photo1.png" class="img-max special-img"></a>
            </div>
            <div class="col-eq-2-special heightLine">
              <h2 class="sp">NEW ITEM</h2>
              <p>最新のファッションアイテムが勢揃い！トレンドを今すぐ確認して</p>
            </div>
          </div>
        </div>
        <div class="col-eq-2">
          <div class="special-layout-box">
            <div class="col-eq-2-special">
              <a href=""><img src="{{ file_root_path }}/img/top/photo2.png" class="img-max special-img"></a>
            </div>
            <div class="col-eq-2-special heightLine">
              <h2 class="sp">アウター特集</h2>
              <p>デザイン重視から機能性バツグンのものまで幅広く集めました</p>
            </div>
          </div>
        </div>
        <div class="col-eq-2">
          <div class="special-layout-box">
            <div class="col-eq-2-special">
              <a href=""><img src="{{ file_root_path }}/img/top/photo3.png" class="img-max special-img"></a>
            </div>
            <div class="col-eq-2-special heightLine">
              <h2 class="sp">Pure Cashmere 2016winter</h2>
              <p>本物のカシミアだけがもっている上質さをあなたの元へお届けします</p>
            </div>
          </div>
        </div>
        <div class="col-eq-2">
          <div class="special-layout-box">
            <div class="col-eq-2-special">
              <a href=""><img src="{{ file_root_path }}/img/top/photo4.png" class="img-max special-img"></a>
            </div>
            <div class="col-eq-2-special heightLine">
              <h2 class="sp">革製品限定 円高セール</h2>
              <p>期間限定の円高限定セールです！気になるものはすぐにチェック！</p>
            </div>
          </div>
        </div>
        <div class="col-eq-2">
          <div class="special-layout-box">
            <div class="col-eq-2-special">
              <a href=""><img src="{{ file_root_path }}/img/top/photo5.png" class="img-max special-img"></a>
            </div>
            <div class="col-eq-2-special heightLine">
              <h2 class="sp">MONCLER 2016-17AW</h2>
              <p>日本未入荷モデルなど、豊富なラインナップ！</p>
            </div>
          </div>
        </div>
        <div class="col-eq-2">
          <div class="special-layout-box">
            <div class="col-eq-2-special">
              <a href=""><img src="{{ file_root_path }}/img/top/photo6.png" class="img-max special-img"></a>
            </div>
            <div class="col-eq-2-special heightLine">
              <h2 class="sp">働く女性の1week style</h2>
              <p>忙しいからこそ身の回りのものにはこだわりたい...すべての女性へ</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- special -->
    <!-- pickup-->
    <section class="thin-img pickup">
      <div class="inner-float overflow">
        <h2 class="index-title">- PICKUP -</h3>
        <h3 class="index-sub-title">いま旬の商品厳選ピックアップ</h3>
        <div class="pickup-outer">
          <div class="responsive">
            <div class="col-eq-3">
              <div class="pickup-layout-box">
                <div class="heightLine-2">
                  <div class="ipad pc">
                    <p class="float-right">2016/10/28</p>
                    <p class="text-gold">WHAT'S NEW</p>
                    <p class="bold margin-bottom-10">FENDY smaprtphone case</p>
                    <p>カジュアルなデニム、キャンパスレザー地にハンドルがついたしっかりしたハンドバック</p>
                    <p class="margin-bottom-10">¥92,377</p>
                  </div>
                  <center><a href=""><img src="{{ file_root_path }}/img/top/Balenciaga.png" class="pickup-img"></a></center>
                  <div class="mobile">
                    <p>FENDY smartphone case</p>
                    <p class="pickup-price">92,377</p>
                  </div>
                  <div class="ipad pc text-right">
                    <a href="" class="small">今すぐショッピング</a>
                  </div>
                </div>
              </div>
              <div class="pickup-layout-box">
                <div class="heightLine-2">
                  <div class="ipad pc">
                    <p class="float-right">2016/10/28</p>
                    <p class="text-gold">WHAT'S NEW</p>
                    <p class="bold margin-bottom-10">FENDY smaprtphone case</p>
                    <p>カジュアルなデニム、キャンパスレザー地にハンドルがついたしっかりしたハンドバック</p>
                    <p class="margin-bottom-10">¥92,377</p>
                  </div>
                  <center><a href=""><img src="{{ file_root_path }}/img/top/CELINE.png" class="pickup-img"></a></center>
                  <div class="mobile">
                    <p>LOUIS VUITTON in inltial pendant top</p>
                    <p class="pickup-price">76,800</p>
                  </div>
                  <div class="ipad pc text-right">
                    <a href="" class="small">今すぐショッピング</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-eq-3">
              <div class="pickup-layout-box">
                <div class="heightLine-2">
                  <div class="ipad pc">
                    <p class="float-right">2016/10/28</p>
                    <p class="text-gold">WHAT'S NEW</p>
                    <p class="bold margin-bottom-10">FENDY smaprtphone case</p>
                    <p>カジュアルなデニム、キャンパスレザー地にハンドルがついたしっかりしたハンドバック</p>
                    <p class="margin-bottom-10">¥92,377</p>
                  </div>
                  <center><a href=""><img src="{{ file_root_path }}/img/top/FENDY.png" class="pickup-img"></a></center>
                  <div class="mobile">
                    <p>NEW MONCLER FLAMMETTE</p>
                    <p class="pickup-price">172,377</p>
                  </div>
                  <div class="ipad pc text-right">
                    <a href="" class="small">今すぐショッピング</a>
                  </div>
                </div>
              </div>
              <div class="pickup-layout-box">
                <div class="heightLine-2">
                  <div class="ipad pc">
                    <p class="float-right">2016/10/28</p>
                    <p class="text-gold">WHAT'S NEW</p>
                    <p class="bold margin-bottom-10">FENDY smaprtphone case</p>
                    <p>カジュアルなデニム、キャンパスレザー地にハンドルがついたしっかりしたハンドバック</p>
                    <p class="margin-bottom-10">¥92,377</p>
                  </div>
                  <center><a href=""><img src="{{ file_root_path }}/img/top/FENDY.png" class="pickup-img"></a></center>
                  <div class="mobile">
                    <p>NEW MONCLER FLAMMETTE</p>
                    <p class="pickup-price">172,377</p>
                  </div>
                  <div class="ipad pc text-right">
                    <a href="" class="small">今すぐショッピング</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-eq-3">
              <div class="pickup-layout-box">
                <div class="heightLine-2">
                  <div class="ipad pc">
                    <p class="float-right">2016/10/28</p>
                    <p class="text-gold">WHAT'S NEW</p>
                    <p class="bold margin-bottom-10">FENDY smaprtphone case</p>
                    <p>カジュアルなデニム、キャンパスレザー地にハンドルがついたしっかりしたハンドバック</p>
                    <p class="margin-bottom-10">¥92,377</p>
                  </div>
                  <center><a href=""><img src="{{ file_root_path }}/img/top/FENDY.png" class="pickup-img"></a></center>
                  <div class="mobile">
                    <p>NEW MONCLER FLAMMETTE</p>
                    <p class="pickup-price">172,377</p>
                  </div>
                  <div class="ipad pc text-right">
                    <a href="" class="small">今すぐショッピング</a>
                  </div>
                </div>
              </div>
              <div class="pickup-layout-box">
                <div class="heightLine-2">
                  <div class="ipad pc">
                    <p class="float-right">2016/10/28</p>
                    <p class="text-gold">WHAT'S NEW</p>
                    <p class="bold margin-bottom-10">FENDY smaprtphone case</p>
                    <p>カジュアルなデニム、キャンパスレザー地にハンドルがついたしっかりしたハンドバック</p>
                    <p class="margin-bottom-10">¥92,377</p>
                  </div>
                  <center><a href=""><img src="{{ file_root_path }}/img/top/FENDY.png" class="pickup-img"></a></center>
                  <div class="mobile">
                    <p>NEW MONCLER FLAMMETTE</p>
                    <p class="pickup-price">172,377</p>
                  </div>
                  <div class="ipad pc text-right">
                    <a href="" class="small">今すぐショッピング</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-eq-3">
              <div class="pickup-layout-box">
                <div class="heightLine-2">
                  <div class="ipad pc">
                    <p class="float-right">2016/10/28</p>
                    <p class="text-gold">WHAT'S NEW</p>
                    <p class="bold margin-bottom-10">FENDY smaprtphone case</p>
                    <p>カジュアルなデニム、キャンパスレザー地にハンドルがついたしっかりしたハンドバック</p>
                    <p class="margin-bottom-10">¥92,377</p>
                  </div>
                  <center><a href=""><img src="{{ file_root_path }}/img/top/FENDY.png" class="pickup-img"></a></center>
                  <div class="mobile">
                    <p>NEW MONCLER FLAMMETTE</p>
                    <p class="pickup-price">172,377</p>
                  </div>
                  <div class="ipad pc text-right">
                    <a href="" class="small">今すぐショッピング</a>
                  </div>
                </div>
              </div>
              <div class="pickup-layout-box">
                <div class="heightLine-2">
                  <div class="ipad pc">
                    <p class="float-right">2016/10/28</p>
                    <p class="text-gold">WHAT'S NEW</p>
                    <p class="bold margin-bottom-10">FENDY smaprtphone case</p>
                    <p>カジュアルなデニム、キャンパスレザー地にハンドルがついたしっかりしたハンドバック</p>
                    <p class="margin-bottom-10">¥92,377</p>
                  </div>
                  <center><a href=""><img src="{{ file_root_path }}/img/top/FENDY.png" class="pickup-img"></a></center>
                  <div class="mobile">
                    <p>NEW MONCLER FLAMMETTE</p>
                    <p class="pickup-price">172,377</p>
                  </div>
                  <div class="ipad pc text-right">
                    <a href="" class="small">今すぐショッピング</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- pickup-->
    <!-- recommend -->
    <section class="thin-img recommend">
      <div class="inner-float overflow">
        <h2 class="index-title">- RECOMMEND BRANDS -</h2>
        <h3 class="index-sub-title">いま注目のブランド</h3>
        <div class="col-eq-2">
          <div class="recommend-layout-box">
            <div class="heightLine-3">
              <center>
                {% if cookies['gender'] != 'men' %}
                  <a href="/shop/makers/:id?q%5Bby_product_category_name%5D=レディース"><img src="{{ file_root_path }}/img/top/katespade.gif" class="recommend-img"></a>
                {% else %}
                  <a href="/shop/makers/:id?q%5Bby_product_category_name%5D=メンズ"><img src="{{ file_root_path }}/img/top/katespade.gif" class="recommend-img"></a>
                {% endif %}
              </center>
              <p>kate spade</p>
            </div>
          </div>
        </div>
        <div class="col-eq-2">
          <div class="recommend-layout-box">
            <div class="heightLine-3">
              <center>
                {% if cookies['gender'] != 'men' %}
                  <a href="/shop/makers/:id?q%5Bby_product_category_name%5D=レディース"><img src="{{ file_root_path }}/img/top/furla.gif" class="recommend-img"></a>
                {% else %}
                  <a href="/shop/makers/:id?q%5Bby_product_category_name%5D=メンズ"><img src="{{ file_root_path }}/img/top/furla.gif" class="recommend-img"></a>
                {% endif %}
              </center>
              <p>FURLA</p>
            </div>
          </div>
        </div>
        <div class="col-eq-2">
          <div class="recommend-layout-box">
            <div class="heightLine-3">
              <center>
                {% if cookies['gender'] != 'men' %}
                  <a href="/shop/makers/32?q%5Bby_product_category_name%5D=レディース"><img src="{{ file_root_path }}/img/top/prada.gif" class="recommend-img"></a>
                {% else %}
                  <a href="/shop/makers/32?q%5Bby_product_category_name%5D=メンズ"><img src="{{ file_root_path }}/img/top/prada.gif" class="recommend-img"></a>
                {% endif %}
              </center>
              <p>PRADA</p>
            </div>
          </div>
        </div>
        <div class="col-eq-2">
          <div class="recommend-layout-box">
            <div class="heightLine-3">
              <center>
                {% if cookies['gender'] != 'men' %}
                  <a href="/shop/makers/17?q%5Bby_product_category_name%5D=レディース"><img src="{{ file_root_path }}/img/top/stellamccartney.gif" class="recommend-img"></a>
                {% else %}
                  <a href="/shop/makers/17?q%5Bby_product_category_name%5D=メンズ"><img src="{{ file_root_path }}/img/top/stellamccartney.gif" class="recommend-img"></a>
                {% endif %}
              </center>
              <p>Stella McCartney</p>
            </div>
          </div>
        </div>
        <div class="col-eq-2">
          <div class="recommend-layout-box">
            <div class="heightLine-3">
              <center>
                {% if cookies['gender'] != 'men' %}
                  <a href="/shop/makers/4?q%5Bby_product_category_name%5D=レディース"><img src="{{ file_root_path }}/img/top/fendi.gif" class="recommend-img"></a>
                {% else %}
                  <a href="/shop/makers/4?q%5Bby_product_category_name%5D=メンズ"><img src="{{ file_root_path }}/img/top/fendi.gif" class="recommend-img"></a>
                {% endif %}
              </center>
              <p>FENDY</p>
            </div>
          </div>
        </div>
        <div class="col-eq-2">
          <div class="recommend-layout-box">
            <div class="heightLine-3">
              <center>
                {% if cookies['gender'] != 'men' %}
                  <a href="/shop/makers/:id?q%5Bby_product_category_name%5D=レディース"><img src="{{ file_root_path }}/img/top/celine.gif" class="recommend-img"></a>
                {% else %}
                  <a href="/shop/makers/:id?q%5Bby_product_category_name%5D=メンズ"><img src="{{ file_root_path }}/img/top/celine.gif" class="recommend-img"></a>
                {% endif %}
              </center>
              <p>CELINE</p>
            </div>
          </div>
        </div>
        <div class="col-eq-2">
          <div class="recommend-layout-box">
            <div class="heightLine-3">
              <center>
                {% if cookies['gender'] != 'men' %}
                  <a href="/shop/makers/8?q%5Bby_product_category_name%5D=レディース"><img src="{{ file_root_path }}/img/top/michaelkors.gif" class="recommend-img"></a>
                {% else %}
                  <a href="/shop/makers/8?q%5Bby_product_category_name%5D=メンズ"><img src="{{ file_root_path }}/img/top/michaelkors.gif" class="recommend-img"></a>
                {% endif %}
              </center>
              <p>Michael Kors</p>
            </div>
          </div>
        </div>
        <div class="col-eq-2">
          <div class="recommend-layout-box">
            <div class="heightLine-3">
              <center>
                {% if cookies['gender'] != 'men' %}
                  <a href="/shop/makers/:id?q%5Bby_product_category_name%5D=レディース"><img src="{{ file_root_path }}/img/top/balenciaga.gif" class="recommend-img"></a>
                {% else %}
                  <a href="/shop/makers/:id?q%5Bby_product_category_name%5D=メンズ"><img src="{{ file_root_path }}/img/top/balenciaga.gif" class="recommend-img"></a>
                {% endif %}
              </center>
              <p>Balenciaga</p>
            </div>
          </div>
        </div>
        <div class="col-eq-2">
          <div class="recommend-layout-box">
            <div class="heightLine-3">
              <center>
                {% if cookies['gender'] != 'men' %}
                  <a href="/shop/makers/:id?q%5Bby_product_category_name%5D=レディース"><img src="{{ file_root_path }}/img/top/tedbaker.gif" class="recommend-img"></a>
                {% else %}
                  <a href="/shop/makers/:id?q%5Bby_product_category_name%5D=メンズ"><img src="{{ file_root_path }}/img/top/tedbaker.gif" class="recommend-img"></a>
                {% endif %}
              </center>
              <p>Ted Baker</p>
            </div>
          </div>
        </div>
        <div class="col-eq-2">
          <div class="recommend-layout-box">
            <div class="heightLine-3">
              <center>
                {% if cookies['gender'] != 'men' %}
                  <a href="/shop/makers/27?q%5Bby_product_category_name%5D=レディース"><img src="{{ file_root_path }}/img/top/seebychloe.gif" class="recommend-img"></a>
                {% else %}
                  <a href="/shop/makers/27?q%5Bby_product_category_name%5D=メンズ"><img src="{{ file_root_path }}/img/top/seebychloe.gif" class="recommend-img"></a>
                {% endif %}
              </center>
              <p>See by Chloe</p>
            </div>
          </div>
        </div>
        <!--
        <div class="text-right margin-right-layout">
          <a href="">more brands ></a>
        </div>
        -->
      </div>
    </section>
    <!-- recommend -->
   <!-- search -->
    <section class="category-search mobile">
      <h2 class="category-search-title">カテゴリ検索<img src="{{ file_root_path }}/img/parts/minus.png" class="category-search-minus"><img src="{{ file_root_path }}/img/parts/plus.png" class="category-search-plus"></h2>
      <ul>
        <!--<li><a href="">NEW</a></li>-->
        {% for product_category in product_categories %}
          {% assign ignore_product_categories = 'レディース メンズ' | split: ' ' %}
          {% unless ignore_product_categories contains product_category.name %}
            {% if cookies['gender'] != 'men' %}
              <li><a href="/shop/search?q%5Bproduct_category_names_cont_all%5D%5B%5D={{ product_category.name }}&q%5Bproduct_category_names_cont_all%5D%5B%5D=レディース">{{ product_category.name }}</a></li>
            {% else %}
              <li><a href="/shop/search?q%5Bproduct_category_names_cont_all%5D%5B%5D={{ product_category.name }}&q%5Bproduct_category_names_cont_all%5D%5B%5D=メンズ">{{ product_category.name }}</a></li>
            {% endif %}
          {% endunless %}
        {% endfor %}
      </ul>
    </section>
    <script>
      $('.category-search-plus').hide();
      $(document).on('click', '.category-search-title', function() {
        $(this).next('ul').toggle();
        $(this).find('.category-search-minus').toggle();
        $(this).find('.category-search-plus').toggle();
      });
    </script>
    <!-- search -->
    <!-- banner mobile & ipad -->
    <div class="mobile ipad">
      <a href='javascript:void(0);'>
        <img src="{{ file_root_path }}/img/banners/sp_banner_women.png" class="img-max mobile women-mobile" style="display:{% if cookies['gender'] == 'men' %}{{ 'block' }}{% else %}{{ 'none' }}{% endif %};">
      </a>
      <a href='javascript:void(0);'>
        <img src="{{ file_root_path }}/img/banners/sp_banner_men.png" class="img-max mobile men-mobile" style="display:{% if cookies['gender'] != 'men' %}{{ 'block' }}{% else %}{{ 'none' }}{% endif %};">
      </a>
    </div>
    <!-- banner mobile & ipad -->
    <!-- banner pc -->
    <div class="pc">
      <a href='javascript:void(0);'>
        <img src="{{ file_root_path }}/img/banners/banner_women.png" class="img-max pc ipad women-pc" style="display:{% if cookies['gender'] == 'men' %}{{ 'block' }}{% else %}{{ 'none' }}{% endif %};">
      </a>
      <a href='javascript:void(0);'>
        <img src="{{ file_root_path }}/img/banners/banner_men.png" class="img-max pc ipad men-pc" style="display:{% if cookies['gender'] != 'men' %}{{ 'block' }}{% else %}{{ 'none' }}{% endif %};">
      </a>
    </div>
    <!-- banner pc -->
  </div>
