{{ 'shop/products' | javascript_include_tag }}

{% content_for meta_description %}mixtapeは10代~20代のユニセックス向けアパレルブランドのオンラインショップです。スポーツMIXファッションを中心に豊富なアイテムを取り揃えております。{% endcontent_for %}

{% content_for meta_keywords %}mixtape,アパレル,ファッション,スポーツMIX{% endcontent_for %}

{% content_for title %}{{ product_category.name }} | ユニセックス向けスポーツMIXファッションブランド mixtape (ミックステープ){% endcontent_for %}

<div class="wrap">
  <section class="all_item_container">
    <section>
    <div class="inner overflow" style="padding-bottom:0px; padding-left:10px;">
      <ul class="breadcrumb">
        <li><a href='/'>Home</a></li>
        {% for product_category in product_category.path %}
          <li><a href='/shop/product_categories/{{ product_category.id }}'>{{ product_category.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </section>
    <h2 class="h2" style="text-align:left; padding-left:10px;">{{ product_category.name }}</h2>
    
    <ul class="d-flex all_item">
      {% for product in products %}
        <li class="item">
          <a href="/shop/products/{{ product.master.sku }}"><img src="{{ product.master.thumbnails[0].url_large }}" alt="{{ product.name }}" class=""></a>
          <h3>{{ product.name }}</h3>
          {% if product.variants[0].list_price %}{%if product.variants[0].list_price != product.first_price %}{% assign first_price = product.variants[0].list_price | round:2 %}{% assign price = product.first_price | divided_by: first_price %}{% assign price = 1 | minus: price | times: 100 %}{% assign price = price | round%}
            <p class="price sale">¥ {{ product.first_price | number_to_currency: format: '%n' }} <span class="discount">({{ price }}%OFF)</span</p>
          {% else %}<p class="price">¥ {{ product.first_price | number_to_currency: format: '%n' }}</p>{% endif %}{% else %}
            <p class="price">¥ {{ product.first_price | times: tax | plus: product.first_price | number_to_currency: format: '%n' }}</p>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </section>


  <!-- ページネーション -->
  {% paginate products_all by 10 %}

  <p class="text-center mb-2">
    {% if paginate.items == 0 %}
      0 件表示中です
    {% else %}
      {{ paginate.items }} 件中
      {% assign per_page = paginate.page_size | times: paginate.current_page %}
      {{ per_page | minus: paginate.page_size | plus: 1 }} - {% if paginate.items < per_page %}{{ paginate.items }}{% else %}{{ per_page }}{% endif %} 件を表示しています
    {% endif %}
  </p>
  
  <!-- ページネーションリンク -->
  <div class="pagination mb-4">
    <ul class='pagination-number pagination-sm'>
      {% if paginate.previous %}
        <li class="page-item page-prev"><a href="{{ paginate.previous.url }}" class="page-link"></a></li>
      {% endif %}
      {% for page in paginate.parts %}
        {% if paginate.current_page == page.title %}
          <li class='active page-item'><a>{{ page.title }}</a></li>
        {% elsif page.is_link %}
          <li class='page-item'><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% else %}
          <li class='page-item'><a>{{ page.title }}</a></li>
        {% endif %}
      {% endfor %}
      {% if paginate.next %}
        <li class="page-item  page-next"><a href="{{ paginate.next.url }}" class="page-link"></a></li>
      {% endif %}
    </ul>
  </div>
{% endpaginate %}


<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script>
 var favorited = "{{ file_root_path }}/img/parts/favorited.png";
 $(document).on('click', '.favorite-input', function(e) {
   e.preventDefault();

   var self = this;

   $.ajax({
     url: '/shop/products/' + $(this).data('master-id') + '/favorite',
     method: 'post',
     dataType: 'json'
   })
    .then(
      function (data) {
        $(self).addClass('favorited-input');
        $(self).removeClass('favorite-input');
        $(self).find('img').addClass('favorited');
        $(self).find('img').removeClass('favorite');
        $(self).find('img').attr('src', favorited);
      },
      function () {
        alert("お気に入りに追加できませんでした");
    });
 });

 var favorite = "{{ file_root_path }}/img/parts/favorite.png";
 $(document).on('click', '.favorited-input', function(e) {
   e.preventDefault();

   var self = this;

   $.ajax({
     url: '/shop/products/' + $(this).data('master-id') + '/unfavorite',
     method: 'post',
     dataType: 'json'
   })
    .then(
      function (data) {
        $(self).addClass('favorite-input');
        $(self).removeClass('favorited-input');
        $(self).find('img').addClass('favorite');
        $(self).find('img').removeClass('favorited');
        $(self).find('img').attr('src', favorite); 
      },
      function () {
        alert("お気に入りを解除できませんでした");
    });
 });

 $(document).ready(function(){
   $(document).on('click', '.search-category', function() {
     $('.nav-category').toggle();
     $('.nav-brand').hide();
   });
   $(document).on('click', '.search-brand', function() {
     $('.nav-brand').toggle();
     $('.nav-category').hide();
   });
   $(document).on('click', 'ul.nest01 li', function() {
     $(this).next('.nest02').toggle();
   });
   $(document).on('click', 'ul.nest02 li', function() {
     $(this).next('.nest03').toggle();
   });
   $(document).on('click', 'ul.nest01 li, ul.nest02 li', function() {
     $(this).toggleClass('selected-now');
     $(this).toggleClass('minus');
   });
 });
</script>


