<!-- footer -->
<footer>
  <div class="to-top">
    <a href="#" class="scrollToTop">
      <center><img src="{{ file_root_path }}/img/parts/arrow1.png" class="margin-bottom-10"></center>
      <p>トップに戻る</p>
    </a>
  </div>
  <div class="footer-inner">
    <ul class="sns">
      <li><a href=""><img src="{{ file_root_path }}/img/parts/rss.gif"></a></li>
      <li><a href=""><img src="{{ file_root_path }}/img/parts/sns-fb.gif"></a></li>
      <li><a href=""><img src="{{ file_root_path }}/img/parts/sns-in.gif"></a></li>
      <li><a href=""><img src="{{ file_root_path }}/img/parts/sns-tw.gif"></a></li>
    </ul>
    <ul class="about">
      <lh class="pc">About White cube</lh>
      <li class="lh-border pc"><span></span></li>
      <li><a href="/shop/pages/aboutus">ABOUT US</a></li>
      <li><a href="/shop/pages/guide">ご利用ガイド</a></li>
      <li><a href="/shop/pages/guide">オーダー＆配送</a></li>
      <li><a href="/shop/pages/guide">ご返品＆ご返金</a></li>
      <li><a href="">よくある質問</a></li>
      <li><a href="/shop/pages/term">ご利用規約</a></li>
    </ul>
    <ul class="services">
      <lh class="pc">Customer Services</lh>
      <li class="lh-border pc"><span></span></li>
      <li class="upper"><a href="/shop/pages/law">特定商取引法の表記</a></li>
      <li class="divider">|</li>
      <li class="upper"><a href="/shop/pages/privacy">プライバシーポリシー</a></li>
      <li class="below"><a href="/shop/pages/term">ご利用規約</a></li>
      <li class="divider">|</li>
      <li class="below"><a href="/shop/pages/law">運営会社</a></li>
      <li class="divider">|</li>
      <li class="below"><a href="">お問い合わせ</a></li>
    </ul>
  </div>
  <copyright>Coryright WHITE CUBE. All Rights Reserved.</copyright>
</footer>
<!-- footer -->