{{ 'shop/contacts' | javascript_include_tag }}

{% content_for meta_description %}mixtapeは10代~20代のユニセックス向けアパレルブランドのオンラインショップです。スポーツMIXファッションを中心に豊富なアイテムを取り揃えております。{% endcontent_for %}

{% content_for meta_keywords %}mixtape,アパレル,ファッション,スポーツMIX{% endcontent_for %}

{% content_for title %}お問い合わせ | ユニセックス向けスポーツMIXファッションブランド mixtape (ミックステープ){% endcontent_for %}

<div id="contacts-form-view" class="wrap about">
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="/">HOME</a></li>
      <li>お問い合わせ</li>
    </ul>

    <h1 class="page-title"><span>Contact</span>お問い合わせ</h1>

    <form id="new_contact" action="/shop/contact" accept-charset="UTF-8" method="post">
      <input type="hidden" name="_method" value="put">
      {% csrf_meta_tags %}

      {{ 'notice' | flash: 'alert alert-success', 'text' }}
      {{ 'alert' | flash: 'alert alert-danger', 'text' }}

      <div class="form-box">
        <fieldset><label>お問い合わせ種別 <span class="text-danger">*</span></label>
          <div class="custom-select">
            <select name="contact[contact_type_ids]" id="contact_contact_type_ids" class="form-control">
              {% for contact_type in contact_types %}
                <option value="{{ contact_type.id }}" {% if contact.contact_types[0].id == contact_type.id %}selected{% endif %}>{{ contact_type.name }}</option>
              {% endfor %}
            </select>
          </div>
        </fieldset>
        <fieldset><label>メールアドレス <span class="text-danger">*</span></label>
          {% if customer_signed_in %}
            <input type="email" class="validate[required,custom[email]]" name="contact[customer_attributes][email]" id="contact_customer_attributes_email" value="{{ current_customer.email }}" disabled >
          {% else %}
            <input type="email" class="validate[required,custom[email]]" name="contact[customer_attributes][email]" id="contact_customer_attributes_email" value="{{ contact.customer.email }}" placeholder="例）mt@mix-tape.tokyo">
          {% endif %}
        </fieldset>
        <fieldset>
          <label>お名前 <span class="text-danger">*</span></label>
          {% if shop_form_settings['name_1_field'] %}hey{% else %}hoy{% endif %}
          {% if contact.id == nil and customer_signed_in %}
            {% if shop_form_settings['name_1_field'] %}
              <div class="full">
                <input type="text" class='form-control validate[required]'  name="contact[address_attributes][name01]" id="contact_address_attributes_name01" value="{% if order.billing_address %}{{ order.billing_address.full_name }}{% else %}{{ order.customer.billing_address.full_name }}{% endif %}" placeholder="例）山田 花子" data-prompt-position="topLeft">
              </div>
            {% else %}
              <div class="short">
                <input class="validate[required]" type="text" name="contact[address_attributes][name01]" id="contact_address_attributes_name01" value="{{ current_customer.billing_address.name01 }}" placeholder="例）山田">
                <input class="validate[required]" type="text" name="contact[address_attributes][name02]" id="contact_address_attributes_name02" value="{{ current_customer.billing_address.name02 }}" placeholder="例）花子">
              </div>
            {% endif %}
          {% else %}
            {% if  shop_form_settings['name_1_field'] %}
              <div class="full">
                <input type="text" class='form-control validate[required]'  name="contact[address_attributes][name01]" id="contact_address_attributes_name01" value="{{ contact.address.name01 }}" placeholder="例）山田 花子" data-prompt-position="topLeft">
              </div>
            {% else %}
              <div class="short">
                <input class="validate[required]" type="text" name="contact[address_attributes][name01]" id="contact_address_attributes_name01" value="{{ contact.address.name01 }}" placeholder="例）山田">
                <input class="validate[required]" type="text" name="contact[address_attributes][name02]" id="contact_address_attributes_name02" value="{{ contact.address.name02 }}" placeholder="例）花子">
              </div>
            {% endif %}
          {% endif %}
        </fieldset>
        <fieldset><label>フリガナ <span class="text-danger">*</span></label>
          {% if contact.id == nil and customer_signed_in %}
            {% if shop_form_settings['name_1_field'] %}
              <div class="full">
                <input class="validate[required, custom[katakana]]" type="text" name="contact[address_attributes][kana01]" id="contact_address_attributes_kana01" value="{{ current_customer.billing_address.kana01 }}" placeholder="例）ヤマダ">
              </div>
            {% else %}
              <div class="short">
                <input class="validate[required, custom[katakana]]" type="text" name="contact[address_attributes][kana01]" id="contact_address_attributes_kana01" value="{{ current_customer.billing_address.kana01 }}" placeholder="例）ヤマダ">
                <input class="validate[required, custom[katakana]]" type="text" name="contact[address_attributes][kana02]" id="contact_address_attributes_kana02" value="{{ current_customer.billing_address.kana02 }}" placeholder="例）ハナコ">
              </div>
            {% endif %}
          {% else %}
            {% if shop_form_settings['name_1_field'] %}
              <div class="full">
                <input class="validate[required, custom[katakana]]" type="text" name="contact[address_attributes][kana01]" id="contact_address_attributes_kana01" value="{{ contact.address.kana01 }}" placeholder="例）ヤマダ">
              </div>
            {% else %}
              
              <div class="short">
                <input class="validate[required, custom[katakana]]" type="text" name="contact[address_attributes][kana01]" id="contact_address_attributes_kana01" value="{{ contact.address.kana01 }}" placeholder="例）ヤマダ">
                <input class="validate[required, custom[katakana]]" type="text" name="contact[address_attributes][kana02]" id="contact_address_attributes_kana02" value="{{ contact.address.kana02 }}" placeholder="例）ハナコ">
              </div>
            {% endif %}
          {% endif %}
        </fieldset>
        <fieldset>
          <label>電話番号 <span class="text-danger">*</span></label>
          {% if contact.id == nil and customer_signed_in %}
            {% if shop_form_settings['tel_1_field'] %}
              <div class="full">
                <input type="text" class='validate[required,custom[integer]]' maxlength='12' name='order[billing_address_attributes][tel01]' value='{{ current_customer.billing_address.full_tel }}' placeholder="例）09012345678" data-prompt-position="topLeft">
              </div>
            {% else %}
              <div class="phone">
                <input class="validate[required, custom[integer]]" type="text" name="contact[address_attributes][tel01]" id="contact_address_attributes_tel01" value="{{ current_customer.billing_address.tel01 }}" placeholder="090">
                -
                <input class="validate[required, custom[integer]]" type="text" name="contact[address_attributes][tel02]" id="contact_address_attributes_tel02" value="{{ current_customer.billing_address.tel02 }}" placeholder="1234">
                -
                <input class="validate[required, custom[integer]]" type="text" name="contact[address_attributes][tel03]" id="contact_address_attributes_tel03" value="{{ current_customer.billing_address.tel03 }}" placeholder="5678">
              </div>
            {% endif %}
          {% else %}
            {% if shop_form_settings['tel_1_field'] %}
              <div class="full">
                  <input type="text" class='validate[required,custom[integer]]' maxlength='12' name='order[billing_address_attributes][tel01]' value='{{ contact.address.tel01 }}' placeholder="例）09012345678" data-prompt-position="topLeft">
                </div>
              {% else %}
                <div class="phone">
                  <input class="validate[required, custom[integer]]" type="text" name="contact[address_attributes][tel01]" id="contact_address_attributes_tel01" value="{{ contact.address.tel01 }}" placeholder="090">
                  -
                  <input class="validate[required, custom[integer]]" type="text" name="contact[address_attributes][tel02]" id="contact_address_attributes_tel02" value="{{ contact.address.tel02 }}" placeholder="1234">
                  -
                  <input class="validate[required, custom[integer]]" type="text" name="contact[address_attributes][tel03]" id="contact_address_attributes_tel03" value="{{ contact.address.tel03 }}" placeholder="5678">
                </div>
              {% endif %}
            {% endif %}
        </fieldset>
        <fieldset class="mb-2"><label>お問い合わせ内容 <span class="text-danger">*</span></label>
          <textarea rows="10" class="form-control validate[required]" name="contact[content]" id="contact_content" placeholder="例）お問い合わせ内容をお問い合わせ内容をこちらにご記入ください。">{{ contact.content }}</textarea></dd>
        </fieldset>

        <div class="mb-5">
          <input class="validate[required]" data-errormessage="プライバリーポリシーに同意していただく必要がございます。" name="agree" type="checkbox" id="agree" />          
          <label for="agree" class="fs-12 lh-2 lh-pc-normal"> <a href="/shop/privacy" target="blank" class="text-red">プライバシーポリシー</a>
            に同意</label>
        </div>

        <input class="btn purchase btn btn-black btn-block margin-bottom-20" type="submit" name="commit" value="確認画面へ">
      </div>  
    </form>
  </div>
</div>
