{{ 'shop/orders' | javascript_include_tag }}

{% content_for meta_description %}
{% endcontent_for %}

{% content_for meta_keywords %}
{% endcontent_for %}

{% content_for title %}
注文完了| mixtape
{% endcontent_for %}

<script src="{{ file_root_path }}/js/jquery.placeholder.label.js"></script>
<script src="{{ file_root_path }}/js/jquery.validate.min.js"></script>
<script src="{{ file_root_path }}/js/messages_ja.js" charset="UTF-8"></script>
<script src="{{ file_root_path }}/js/placeholder.js"></script>
<link rel="stylesheet" href="{{ file_root_path }}/css/placeholder.css" type="text/css">

<div class="wrap">
  <div class="inner">
    <h1 class="h2 mb-2">ご注文完了</h1>
    <div class="text-center margin-bottom-20">
      <p>ご注文いただきまして、誠にありがとうございます。<br>ご注文内容は、「ご注文確認メール」に記載して送信いたしました。<br>内容をご確認いただき、ご不明点がございましたらお問い合わせください。</p>
    </div>
    <table class="table-cart margin-bottom-20" style="margin: auto; max-width:600px;">
      <tr>
        <th class="width40">ご注文番号</th>
        <td>{{ order.number }}</td>
      </tr>
      <tr>
        <th>ご購入金額</th>
        <td>{{ order.total | number_to_currency: format: '%n %u' }}</td>
      </tr>
    </table>
    <br>
    <center>
      <a href="https://lin.ee/RKLNZNq">LINE@友達登録してお得なクーポンを受け取ろう！</a>
    </center>
    <br>
    <center><a href="/shop" class="btn btn-black">ショップへ戻る</a></center>
  </div>
</div>
