{{ 'shop/info' | javascript_include_tag }} 

{% content_for meta_description %}mixtapeは10代~20代のユニセックス向けアパレルブランドのオンラインショップです。スポーツMIXファッションを中心に豊富なアイテムを取り揃えております。{% endcontent_for %}

{% content_for meta_keywords %}mixtape,アパレル,ファッション,スポーツMIX{% endcontent_for %}

{% content_for title %}BLOG | ユニセックス向けスポーツMIXファッションブランド mixtape (ミックステープ){% endcontent_for %}

<div class="wrap about">
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="/">HOME</a></li>
      <li>BLOG</li>
      <li>{{ information.title }}</li>
    </ul>
    <h1>
      <span>BLOG</span>
      ブログ一覧
    </h1>

    <div class="informations">
      {% for information in informations %}
        <div class="px-1 bloc">
          <a href="/shop/information/{{ information.slug }}">{% if information.thumbnail.url %}{% assign src = information.thumbnail.url %}{% else %}{% assign src = 'missing' | image_url %}{% endif %}
            <img src="{{ src }}" alt="{{ information.title }}" class="mb-1" />
          </a>
          <p class="date">{{ information.published_at | date: '%Y/%m/%d' }}</p>
          <h2><a href="/shop/information/{{ information.slug }}">{{ information.title }}</a></h2>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
